* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mountains of Christmas', cursive;
}


body {
	width: 100vw;
	height: 100vw;
	display: flex;
	justify-content: center;
}

.bodyState2{
	background-image: url('../img/texture3dark.jpg');
}
	#container{
		margin: 0px;
		position: relative;
		background-color: #aa2121;
		background-color: #ff7878;
		background-image: linear-gradient(315deg, #ff7878 0%, #74d680 74%);
		box-sizing: border-box;
		width: 100vmin;
		max-width: 500px;
		height: 150vw;
		max-height: 800px;
		overflow: hidden;
	}
	
	#frame{	
		border: 3px solid #000;
		position: absolute;
		background-image: url('../img/frame.png');
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		max-width: 500px;
		height: 150vw;
		max-height: 800px;
		z-index: 2;
		pointer-events: none;
	
	}

	.banner{
		position: absolute;
		width: 100%;
		overflow: hidden;
		color:#084200;
		font-family: 'Mountains of Christmas', cursive;
		text-align: center;
		background-position:center top;
		/* background-color: #ff7878;
		background-image: linear-gradient(315deg, #ff7878 0%, #74d680 74%); */
		background-size: cover;
		background-repeat: no-repeat;
		margin: auto;
		/* transition: all 800ms; */
		z-index: 1;
	}
	
/* LAPtop */
@media screen and (min-width: 501px) { 
	div{
		font-size: 2vh ;
	}
	#container > .banner{
		top: 161px;
		font-size: 1.5em;
	} 
	#container > .navSingleButton{top: 230px;}
	#container > .navItem{top: 286px;}

	#container > .navSingleButtonOpen{
		height: 65px;
		font-size: 1em;
	}
	#container > .navItem.navSingleButtonOpen.openNav1{
		height: 400px;
	}
	
	#container > .navItem.navSingleButtonOpen.openNav2{
		height: 400px;
	}
	
	#container > .navItem.navSingleButtonOpen.openNav3{
		height: 400px;
	}
}

/* PHONE */
@media screen and (max-width: 500px) { 
	div{
		font-size: 2vw ;
	}
	#container > .banner{
		top: 30vw;
		font-size: 3em;
	} 
	#container > .navSingleButton{
		top: 38vw;
		font-size: 3em;
	}
	#container > .navItem{
		top: 51vw;
	}

	#container > .navSingleButtonOpen{
		height: 20vw;
		font-size: 2.5em;
	}
	#container > .navItem.navSingleButtonOpen.openNav1{
		height: 73vw;
	}
	
	#container > .navItem.navSingleButtonOpen.openNav2{
		height: 73vw;
	}
	
	#container > .navItem.navSingleButtonOpen.openNav3{
		height: 73vw;
	}
} 



.navSingleButton{
	width: 100%;
	border-radius: 10px;
	border: 
	 solid #000;
	padding: 4px;
	position: absolute;
	color: #cbdfce;
	font-size: 1em;
	background-image: url('../img/textureChristmas2.jpg');
	text-align: center;
	font-size: 1em;
	/* transition: all 800ms; */
}
.navSingleButton:hover{
	color: #ffffff;
	background-color: #de4256;
	background-imarrrge: linear-gradient(315deg, #de4256 0%, #b78e51 74%);

}

.navSingleButton:hover{
	background-color: #DB6885;
	cursor: pointer;
}

.navItem{
	width: 100%;

	position: relative;
	color: #FF0000;
	font-size: 1em;
	background-color: #f5d9b9;
	overflow: hidden;
	text-align: center;
	padding: 0px;
	height: 0px;
	transition: all 800ms;
	line-height: 2.2;
	cursor: pointer;
}
.navItem:hover{
	background-color: #e5fae8;
	color: #30412c;
}

.navSingleButtonOpen{
	height: 20vmin;
	color: #2c2f41;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-position: top;
	max-height: 500px;
}

#container > .navItem.navSingleButtonOpen.openNav1{
	background-image: url('../img/nav1.jpg');
	max-height: 100vw;
	max-height: 500px;
	color: aliceblue;

}

#container > .navItem.navSingleButtonOpen.openNav2{
	background-image: url('../img/nav2.jpg');
	max-height: 100vw;
	max-height: 500px;
	color: aliceblue;
}

#container > .navItem.navSingleButtonOpen.openNav3{
	background-image: url('../img/nav3.jpg');
	max-height: 100vw;
	max-height: 400px;
	color: rgb(255, 255, 255);
}




.ab{
	top: -600px;
	right: -0;
	transform: rotate(-180deg);
	background-image: url('../img/abxmasthug.png');
	transition: all 400ms;
	position: absolute;
	height: 30vmin;
	width: 30vmin;
	max-width: 300px;
	max-height: 300px;
	background-size: contain;
	z-index: 3;
}
.sy{
	top: -600px;
	left: -0;
	/* transform: rotate(-180deg); */
	background-image: url('../img/syxmasthug.png');
	transition: all 600ms;
	position: absolute;
	height: 30vmin;
	width: 30vmin;
	max-width: 300px;
	max-height: 300px;
	background-size: contain;
	z-index: 3;
}

.milo{
	bottom: -500px;
	right: -0;
	/* transform: rotate(-180deg); */
	background-image: url('../img/milo.png');
	transition: all 800ms;
	position: absolute;
	height: 30vmin;
	width: 30vmin;
	max-width: 300px;
	max-height: 300px;
	background-size: contain;
	z-index: 3;
}

.kispy{
	bottom: -500px;
	left: -0;
	/* transform: rotate(-180deg); */
	background-image: url('../img/kispy.png');
	transition: all 900ms;
	position: absolute;
	height: 30vmin;
	width: 30vmin;
	max-width: 300px;
	max-height: 300px;
	background-size: contain;
	z-index: 3;
}

.ab.inview{
	top: 0;

}
.sy.inview{
	top: 0;

}

.milo.inview{
	bottom: 0;

}
.kispy.inview{
	bottom: 0;

}

.gift3open{

}
.gift3open:hover{

}

